.popup__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    width: 430px;
    padding: 34px 36px 37px 36px;
    background-color: white;
}

@media screen and (max-width: 880px) {
    .popup__container {
        width: 282px;
        padding: 25px 22px;
    }
}