.profile__change-avatar{
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    width: 121px;
    height: 121px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: visibility .3s ease-in-out, background-color .3s ease-in-out;
    z-index: 2;
    visibility: hidden
}

.profile__change-avatar:hover {
    background-color: rgba(0, 0, 0, 0.6);
    visibility: visible;
  }
  
  .profile__change-avatar:hover::after {
    content: url(../../../images/pensel.svg);
  }