.profile {
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 880px;
    width: 100%;
    margin-top: 40px;
    align-items: center;
    column-gap: 30px;
}

@media screen and (max-width: 880px) {
    .profile {
        margin: 0 auto;
        max-width: 320px;
        flex-direction: column;
        margin-top: 38px;
    }
}