.profile__name {
    display: flex;
    align-items: flex-end;
    margin-top: 22px;
}

@media screen and (max-width: 880px) {
    .profile__name {
        align-items: center;
        margin-left: 19px;
    }
}