.popup__close-img{
    padding: 0;
    background-image: url(../../../images/Close.svg);
    position: absolute;
    width: 32px;
    height: 32px;
    color: white;
    font-size: 48px;
    right: -40px;
    top: -39px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s ease-out;
}
.popup__close-img:hover{
    opacity: 0.6;
    cursor: pointer;
}
@media screen and (max-width: 880px){
    .popup__close-img{
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}