.elements__delete{
    background-image: url('../../../images/deleteButton.svg');
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 20px;
    margin-left: 244px;
    object-fit: cover;
    border: none;
    width: 18px;
    height: 19px;
}

.elements__delete:hover {
    opacity: 60%;
    cursor: pointer;
}