.popup__autor{
    margin: 0px;
    padding: 0px;
    border: 1px;
    width: 358px;
    height: 27px;
    border-bottom: 1px solid #000;
    grid-column: 2/3;
    outline: none;
    color: #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}


@media screen and (max-width: 767px) {
    .popup__autor{
        width: 238px;
    }
}