.popup{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: #00000080;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
}

#popup-img{
    background-color: #000000E6;
}